extends ../../layouts/default.pug

block main 
    h1 Danh sách xe

    table.table.table-hover.table-sm 
        thead   
            tr 
                th STT 
                th Hình ảnh
                th Hãng xe  
                th Tên xe 
                th Phiên bản
                th Giá
                th Hành động
        tbody  
             tr
                td 1
                td 
                    img(src="/images/logo.png" alt="Xe" width="100px" height="auto")
                td hehe
                td hehe
                td hehe
                td hehe
                td 
                    button(class="btn btn-warning btn-sm") Sửa
                    button(class="btn btn-danger btn-sm") Xóa

           

                